body {
  text-align: center;
  background-color: #000;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 48px;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
}
