body {
  text-align: center;
  background-color: #303841;
  background-image: url("img/bg-7.jpg");
  background-size: cover;
  margin: 140px 0;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 48px;
}

strong {
  color: #303841;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #47555e;
  font-family: sans-serif;
}

.main-container {
  position: relative;
  min-height: 100%;
}

.secondary-container {
  margin-top: 20px;
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  padding: 50px;
  border-radius: 15px;
  font-family: sans-serif;
  background-color: rgba(238, 238, 238, 0.5);
}

#days {
  font-size: 36px;
}

#time {
  margin: 0 auto;
  font-size: 30px;
  padding: 5px;
}

.gathering {
  font-size: 18px;
}
